@import "tailwindcss";

@theme {
  --color-primary-50: #e1e5ea;
  --color-primary-100: #b5bdc6;
  --color-primary-200: #8490a1;
  --color-primary-300: #5b6c81;
  --color-primary-400: #3b4c62;
  --color-primary-500: #28354c;
  --color-primary-600: #1b263b;
  --color-primary-700: #141f2d;
  --color-primary-800: #0f1a27;
  --color-primary-900: #0a1625;
}
